body {
  background: url("bamboo.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Indie Flower';
}

#time {
  margin-top: 0px;
  background-color: #7CB220;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 20px;
  color: #F3F3F3;
}
/*
.footer{
  bottom: 0px;
  position: absolute;
  background-color: #EAEAEA;
  width: 100%;
  height: 50px;
  border: 2px solid green;
  text-align: center;
}*/

.panday {
  font-size: 70px;
  display: block;
  position: relative;
  float: left;
  margin-top: 5%;
  margin-left: 10%;
}

img.logo {
  height: 55px;
  width: 55px;
  display: block;
  position: relative;
  float: right;
  margin-top: 5%;
}

.signin {
  margin-top: 8%;
  margin-right: 10%;
  font-size: 2em;
  position: relative;
  display: block;
  float: right;
  border: 2px solid green;
}

img.pandapic {
  width: 300px;
/*  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 10px;*/
  /*margin-top: 10%;
  /*position: relative;*/
  border: 2px solid black;
}

.panda-reveal {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 50px;
  /*margin-top: 10%;*/
  /*position: relative;*/
  /*border: 2px solid black;*/
}

.contain-twilio {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.send-the-pic {
  font-size: 2em;
  position: relative;
  display: block;
  border: 2px solid green;
  width: 240px;
}

.sendpic {
  margin-top: 20%;
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  position: relative;
  display: block;
  float: left;
  border: 2px solid green;
}

.send {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 100px;
  /*margin-top: 10%;*/
  /*position: relative;*/
  /*border: 2px solid black;*/
}

.send-the-pic {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: block;
}